<footer class="footer">
  <div class="container footer__grid">
    <div class="footer__col">
      <a href="./#hero" class="logo logo--footer">
        <span class="logo__cube"></span>
        <span class="logo__text">Epsilon-Cube</span>
      </a>
      <p class="footer__tagline">Ваш проводник в мире высоких карьерных достижений и инновационных решений.</p>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Навигация</h4>
      <ul class="footer__links">
        <li><a href="./#hero">Программа роста</a></li>
        <li><a href="./#about">Карьерный аудит</a></li>
        <li><a href="./#innovation">AI-инструменты</a></li>
        <li><a href="./#blog">Блог экспертов</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Юридическая информация</h4>
      <ul class="footer__links">
        <li><a href="./privacy.html">Конфиденциальность</a></li>
        <li><a href="./cookies.html">Cookie файлы</a></li>
        <li><a href="./terms.html">Условия использования</a></li>
        <li><a href="./disclaimer.html">Отказ от ответственности</a></li>
        <li><a href="./personal-data-policy.html">Персональные данные</a></li>
        <li><a href="./return.html">Возврат средств</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Контакты (IT)</h4>
      <address class="footer__address">
        <p>Via Dante, 15<br>20121 Milano MI, Italia</p>
        <a href="tel:+390212345678" class="footer__contact-link">+39 02 1234 5678</a>
        <a href="mailto:hello@epsilon-cube.blog" class="footer__contact-link">hello@epsilon-cube.blog</a>
      </address>
    </div>
  </div>
  <div class="container footer__bottom">
    <p>&copy; 2026 Epsilon-Cube. Предложение активно только в странах ЕС.</p>
  </div>
</footer>